@use "./variables" as *;
@use "sass:map";

@mixin tablet {
  @media (min-width: $tablet) {
    & {
      @content;
    }
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    & {
      @content;
    }
  }
}

@mixin pc {
  @media (min-width: $pc) {
    & {
      @content;
    }
  }
}

@mixin background($type) {
  & {
    background-color: map.get($map: $type, $key: light-bg);
    color: map.get($map: $type, $key: light-color);
  }
  .dark & {
    background-color: map.get($map: $type, $key: dark-bg);
    color: map.get($map: $type, $key: dark-color);
  }
}
