@use "sass:map";

// Responsive sizes

$tablet: 500px;
$laptop: 768px;
$pc: 1200px;

// Colors

$primary: (
  light-bg: white,
  dark-bg: rgb(33, 33, 33),
  light-color: black,
  dark-color: white,
);

$secondary: (
  light-bg: rgb(231, 231, 231),
  dark-bg: rgb(65, 65, 65),
  light-color: black,
  dark-color: white,
);

$tertiary: (
  light-bg: rgb(139, 207, 255),
  dark-bg: rgb(71, 82, 205),
  light-color: black,
  dark-color: white,
);

$main-background-color: map.get(
  $map: $primary,
  $key: light-bg,
);

$main-background-pattern: radial-gradient(
  map.get(
      $map: $primary,
      $key: light-color,
    )
    1px,
  $main-background-color 1px
);

$main-dark-background-color: map.get(
  $map: $primary,
  $key: dark-bg,
);

$main-dark-background-pattern: radial-gradient(
  map.get(
      $map: $primary,
      $key: dark-color,
    )
    1px,
  $main-dark-background-color 1px
);

//Size
$header-height: 5rem;
$mobile-manager-height: 8rem;
$mobile-settings-manager-height: 20rem;
$laptop-settings-manager-width: 35rem;
