// Responsive sizes

$tablet: 500px;
$laptop: 768px;
$pc: 1200px;

// Colors

$light-bg-primary: white;
$light-bg-secondary: rgb(227, 227, 227);
$light-bg-tertiary: rgb(139, 207, 255);

$light-color-primary: black;
$light-color-secondary: rgb(33, 33, 33);
$light-color-tertiary: rgb(0, 0, 0);

$dark-bg-primary: rgb(33, 33, 33);
$dark-bg-secondary: rgb(65, 65, 65);
$dark-bg-tertiary: rgb(227, 227, 227);

$dark-color-primary: rgb(255, 255, 255);
$dark-color-secondary: rgb(255, 255, 255);
$dark-color-tertiary: rgb(227, 227, 227);

$header-height: 5rem;
$mobile-manager-height: 8rem;
$mobile-settings-manager-height: 20rem;
